/*h2{
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}
button{
    color: magenta;
    background-color: cyan;
}
p{
    color: olive;
    background: orange;
}*/
body{
    color: purple;
}
section{
    color: aqua;
}
form{
    color: greenyellow;
}
button,input{
    color: inherit;
}