/**{
    background-color: cyan;
}*/
boby {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

h1,h2 {
    color: #1d3557;
}

h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: plum underline wavy;

}

h3 {
    color: magenta;
}

p {
    color: black;
    line-height: 2;
}

button {
    color: red;
    background-color: pink;
}

h2 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: Futura, Arial, sans-serif;*/
    font-family: monospace;
}

/*a {
    text-decoration: none;
}*/

span {
    color: #457b9d;

}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

li {
    color: blue;
}

.done {
    color: grey;
}

#clear {
    background-color: red;
    color: white;
}

#add {
    all: unset;

}

.todos {
    all: unset;
}
header a{
    font-size: 30px;
    color: green;
}
#dislikes a{
    font-weight: bold;
    color: red;
}
input + button {
    background-color: pink;
}
header > a{
    color: #a8dadc;
}
input[type="password"]{
    color: greenyellow;
}
a[href*="www.google.com"]{
    color: #1d3557;
}
/*button:hover{
    background-color: black;
    color: white;
}*/
button:active{
   background-color: #02c39a;
}
h2::first-letter{
    font-size: 50px;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: #fcbf49;
}
button:hover{
    background-color: olive;
    font-size: 10px;
}
button{
    background-color: magenta/* !important*/;
}

